

/*Navigation*/


#navbar { 
	width: 100%;
}

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#nav li {
	float:left;
}

#nav li ul {
	position: absolute;
   font: bold 16px 'Nunito Sans', sans-serif; 
  display: inline-block;
  padding: 15px;
  background: #0c1b33; 	
  cursor: pointer; 	
}

#nav ul li:hover {

  background: #000000; 	

  color: #0c1b33; 			

}